fuse*
.DS_Store
*~
*.*~
.*.sw*
._*
.#*
*.swp

.repl/
checkouts/
classes/
lib/
node_modules/
target/

*.jar
*.class
.lein-*
pom.xml
resources/js/protocol_monads_dev.js
resources/js/protocol_monads_browser_test.js
resources/js/protocol_monads_browser_optimized_test.js
resources/js/protocol_monads_node_test.js
